{% with router_info=item.value %}
frr version 10.2.1_git
frr defaults datacenter
log syslog informational
!
  {% if 'vrfs' in router_info %}
    {% for vrf in router_info.vrfs %}
vrf {{ vrf }}
      {% if 'vnis' in router_info.vrfs[vrf] %}
        {% for vni in router_info.vrfs[vrf].vnis %}
 vni {{ vni }}
        {% endfor %}
      {% endif %}
exit-vrf
!
    {% endfor %}
  {% endif %}
  {% for interface in router_info.interfaces %}
interface {{ interface.name }}
    {% if 'ip' in interface %}
 ip address {{ interface.ip }}
    {% endif %}
    {% if 'isis' in interface %}
 ip router isis {{ interface.isis.tag }}
    {% if 'bfd' in interface.isis and interface.isis.bfd %}
 isis bfd
    {% endif %}
    {% if 'passive' in interface.isis and interface.isis.passive %}
 isis passive
    {% endif %}
    {% endif %}
    {% if 'ospf' in interface %}
      {% if 'passive' in interface.ospf and interface.ospf.passive %}
 ip ospf passive
      {% endif %}
      {% if 'authentication' in interface.ospf and 'message_digest' in interface.ospf.authentication %}
 ip ospf authentication message-digest
        {% with keys=interface.ospf.authentication.message_digest['keys'] %}
          {% for index in range(keys | length) %}
 ip ospf message-digest-key {{ index + 1 }} md5 {{ keys[index] }}
          {% endfor %}
        {% endwith %}
      {% endif %}
      {% if 'bfd' in interface.ospf and interface.ospf.bfd %}
 ip ospf bfd
      {% endif %}
      {% if 'hello_interval' in interface.ospf %}
 ip ospf hello-interval {{ interface.ospf.hello_interval }}
      {% endif %}
      {% if 'dead_interval' in interface.ospf %}
 ip ospf dead-interval {{ interface.ospf.dead_interval }}
      {% endif %}
    {% endif %}
    {% if 'vrrp' in interface %}
 vrrp {{ interface.vrrp.id }}
 vrrp {{ interface.vrrp.id }} priority {{ interface.vrrp.priority }}
 vrrp {{ interface.vrrp.id }} ip {{ interface.vrrp.ip }}
    {% endif %}
    {% if 'mpls' in interface and interface.mpls %}
 mpls enable
    {% endif %}
exit
!
  {% endfor %}
  {% for bgp in router_info.router.bgp %}
router bgp {{ bgp.asn }} {{ ('vrf ' + bgp.vrf ) if 'vrf' in bgp else ''}}
 bgp router-id {{ router_info.id }}
 bgp graceful-restart
 bgp graceful-shutdown
 !
    {% if 'neighbors' in bgp %}
      {% set neighbors = [] %}
      {% if 'groups' in bgp.neighbors %}
        {% set neighbors = bgp.neighbors.groups %}
        {% for group in bgp.neighbors.groups %}
 neighbor {{ group.name }} peer-group
          {% if 'cidr' in group %}
 bgp listen range {{ group.cidr }} peer-group {{ group.name }}
          {% endif %}
          {% if 'members' in group %}
            {% for member in group.members %}
 neighbor {{ member }} peer-group {{ group.name }}
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endif %}
      {% if 'routers' in bgp.neighbors %}
        {% set neighbors = neighbors + bgp.neighbors.routers %}
      {% endif %}
      {% for router in neighbors %}
 neighbor {{ router.address if 'address' in router else router.name }} remote-as {{ router.asn }}
        {% if 'bfd' in router and router.bfd %}
 neighbor {{ router.address if 'address' in router else router.name }} bfd
        {% endif %}
        {% if 'update_source' in router %}
 neighbor {{ router.address if 'address' in router else router.name }} update-source {{ router.update_source }}
        {% endif %}
        {% if 'password' in router %}
 neighbor {{ router.address if 'address' in router else router.name }} password {{ router.password }}
        {% endif %}
        {% if 'connect_timer' in router %}
 neighbor {{ router.address if 'address' in router else router.name }} timers connect {{ router.connect_timer }}
        {% elif 'connect_timer' in bgp %}
 neighbor {{ router.address if 'address' in router else router.name }} timers connect {{ bgp.connect_timer }}
        {% endif %}
      {% endfor %}
    {% endif %}
 !
 address-family ipv4 unicast
    {% if 'summaries' in bgp %}
      {% for summary in bgp.summaries %}
  aggregate-address {{ summary }} summary-only
      {% endfor %}
    {% endif %}
    {% if 'redistribute' in bgp %}
      {% for redistribute in bgp.redistribute %}
  redistribute {{ redistribute }}
      {% endfor %}
    {% endif %}
    {% if 'import' in bgp %}
      {% if 'vrfs' in bgp.import %}
        {% for vrf in bgp.import.vrfs %}
  import vrf {{ vrf }}
        {% endfor %}
      {% endif %}
    {% endif %}
 exit-address-family
 !
  {% if 'evpn' in bgp %}
 address-family l2vpn evpn
    {% if 'neighbors' in bgp.evpn %}
      {% for neighbor in bgp.evpn.neighbors %}
  neighbor {{ neighbor }} activate
      {% endfor %}
    {% endif %}
    {% if 'advertise' in bgp.evpn %}
      {% for advertise in bgp.evpn.advertise %}
        {% if advertise == 'all-vni' %}
  advertise-all-vni
        {% elif advertise == 'svi-ip' %}
  advertise-svi-ip
        {% else %}
  advertise {{ advertise }}
        {% endif %}
      {% endfor %}
    {% endif %}
 exit-address-family
  {% endif %}
exit
!
  {% endfor %}
  {% if router_info.router.isis is defined %}
    {% for tag in router_info.router.isis %}
      {% with isis = router_info.router.isis[tag] %}
router isis {{ tag }}
        {% if 'type' in isis %}
 is-type {{ isis.type }}
        {% endif %}
 net {{ isis.area | isis_area }}.{{ router_info.id | isis_system_id }}.00
        {% if 'apass' in isis %}
 area-password md5 {{ isis.apass }}
        {% endif %}
        {% if 'mpls' in router_info %}
 mpls ldp-sync
        {% endif %}
exit
      {% endwith %}
    {% endfor %}
  {% endif %}
!
  {% if router_info.router.ospf is defined %}
    {% for ospf in router_info.router.ospf %}
router ospf
 graceful-restart
 router-id {{ router_info.id }}
      {% if ospf.redistribute is defined %}
        {% for redistribute in ospf.redistribute %}
 redistribute {{ redistribute }}
        {% endfor %}
      {% endif %}
      {% for network in ospf.networks %}
 network {{ network }} area 0
      {% endfor %}
exit
    {% endfor %}
  {% endif %}
!
  {% if 'mpls' in router_info %}
mpls ldp
 router-id {{ router_info.id }}
 !
 address-family ipv4
  discovery transport-address {{ router_info.id }}
  !
    {% for interface in router_info.mpls.interfaces %}
  interface {{ interface }}
  exit
    {% endfor %}
  !
 exit-address-family
 !
exit
  {% endif %}
!
{% endwith %}
