#!/usr/bin/dumb-init /bin/sh

{% if openvpn.caUrl is defined %}
wget -O /etc/openvpn/ca.pem "{{ openvpn.caUrl }}"
{% endif %}

# start OpenVPN
"$@" &

# start auth helper
/usr/local/bin/openvpn-auth-oauth2 --config "/etc/openvpn/openvpn-auth-oauth2.yaml" &

fg %1