{
  "Dhcp4": {
    "server-tag": "TAG",
    "config-control": {
        "config-databases": [
          {
            "type":     "mysql",
            "name":     {{ mysql.database | quote }},
            "user":     {{ mysql.username | quote }},
            "password": {{ mysql.password | quote }},
            "host":     {{ mysql.host     | quote }},
            "port":     {{ mysql.port }}
          }
        ],
        "config-fetch-wait-time": 20
    },
    "hosts-database": {
      "type":                "mysql",
      "reconnect-wait-time": 3000, // expressed in ms
      "max-reconnect-tries": 999,
      "on-fail":             "serve-retry-continue",
      "name":                {{ mysql.database | quote }},
      "user":                {{ mysql.username | quote }},
      "password":            {{ mysql.password | quote }},
      "host":                {{ mysql.host     | quote }},
      "port":                {{ mysql.port }}
    },
    "lease-database": {
      "type":                "mysql",
      "reconnect-wait-time": 3000, // expressed in ms
      "max-reconnect-tries": 999,
      "on-fail":             "serve-retry-continue",
      "name":                {{ mysql.database | quote }},
      "user":                {{ mysql.username | quote }},
      "password":            {{ mysql.password | quote }},
      "host":                {{ mysql.host     | quote }},
      "port":                {{ mysql.port }}
    },
    "interfaces-config": {
      "interfaces": [ {{ interfaces | join(',') }} ]
    },
    "control-socket": {
        "socket-type": "unix",
        "socket-name": "/run/kea/kea4-ctrl-socket"
    },
    "hooks-libraries": [
      {
        "library": "/usr/lib/kea/hooks/libdhcp_mysql_cb.so"
      }
    ]
  }
}
