{
  "Dhcp4": {
    "server-tag": "TAG",
    "config-control": {
        "config-databases": [
          {
            "type":     "postgresql",
            "name":     "{{ postgresql.database }}",
            "user":     "{{ postgresql.username }}",
            "password": "{{ postgresql.password }}",
            "host":     "{{ postgresql.host     }}",
            "port":     {{ postgresql.port }}
          }
        ],
        "config-fetch-wait-time": 20
    },
    "hosts-database": {
      "type":                "postgresql",
      "max-reconnect-tries": 0,
      "on-fail":             "serve-retry-exit",
      "name":                "{{ postgresql.database }}",
      "user":                "{{ postgresql.username }}",
      "password":            "{{ postgresql.password }}",
      "host":                "{{ postgresql.host     }}",
      "port":                {{ postgresql.port }}
    },
    "lease-database": {
      "type":                "postgresql",
      "max-reconnect-tries": 0,
      "on-fail":             "serve-retry-exit",
      "name":                "{{ postgresql.database }}",
      "user":                "{{ postgresql.username }}",
      "password":            "{{ postgresql.password }}",
      "host":                "{{ postgresql.host     }}",
      "port":                {{ postgresql.port }}
    },
    "loggers": [
      {
        "name": "kea-dhcp4",
        "severity": "INFO",
        "output_options": [
          {
            "output": "stdout"
          }
        ]
      },
      {
        "name": "kea-dhcp4.dctl",
        "severity": "WARN",
        "output_options": [
          {
            "output": "stdout"
          }
        ]
      }
    ],
    "interfaces-config": {
      "interfaces": {{ interfaces | to_json }}
    },
    "control-socket": {
        "socket-type": "unix",
        "socket-name": "/run/kea/kea4-ctrl-socket"
    },
    "hooks-libraries": [
      {
        "library": "/usr/lib/kea/hooks/libdhcp_pgsql_cb.so"
      }
    ]
  }
}
