maxretry = 3

{% for device in devices %}


[{{ device.name }}]
  driver = "{{ device.driver }}"
{% set properties = device | community.general.remove_keys(['name', 'driver']) %}
{% for key,value in properties.items() %}
  {{ key }} = {{ value | quote }}
{% endfor %}
{% endfor %}