maxretry = 3

{% for device in devices %}


[{{ device.name }}]
  driver = "{{ device.driver }}"
{% set properties = device | combine({ 'name': omit, 'driver': omit' }) %}
{% for key,value in properties.items() }
  {{ key }} = {{ value | quote}}
{% endfor %}
{% endfor %}